.jumbotron {
	text-align: center;
	background-color: black;
  color: #FFF;

}

h3 {
  font-style: oblique;
}


.div1 {
  width: 600px;
  height: 200px;
  border: 1px solid black;
}

li {
  font-weight: bold;
  font-size: 60px
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  border-color: solid black;
}


p {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 15px; 
}


.panel-heading {
  font-weight: bold;
  font-size: 20px;
}

#run-search1 {
  float: right;

} 

.restaurant-thumb {
  width: 75px;
  float: right;
  overflow: hidden;
}

.restaurant-thumb img {
  width: auto;
  max-height: 75px;
}

#cuisine-choice,
#restaurant-lists,
#direction-row,
#chat-row {
  display: none;
}